!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Transicon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag
    = csrf_meta_tags
  %body{class: "#{params[:controller]}-#{params[:action]}"}
    .l-header
      .logo
        = link_to 'Pictalk', root_path
      %p.btn-add
        = link_to '', edit_path
      = link_to root_path do
        %p.btn-refresh

    = yield

